:root {
    font-size: 62.5%;

    --blue-color: #1a3564;
    --yellow-color: #e2c42e;
    --white-color: #ffffff;

    --ubuntu: 'Ubuntu', sans-serif;
    --orbitron: 'Orbitron', sans-serif;
    --rock-salt: 'Rock Salt', cursive;
}

/* mobile m, 375px */

@media (min-width: 375px) {
    .header, .home, .about, .members, .media, .services, .partners, .contacts, .footer-2 {
        width: 33.5rem; 
    }
}

/* mobile l, 425px */

@media (min-width: 425px) {
    .header, .home, .about, .members, .media, .services, .partners, .contacts, .footer-2 {
        width: 38.5rem;
    }

    /* members */

    .imageMembersPerArea {
        width: 35rem;
    }
    
    .imageEachMember {
        width: 12rem;
    }

    /* media */

    .imageMedia {
        width: 32rem;
    }
}

/* tablet, 768px */

@media (min-width: 768px) {
    .header, .home, .about, .members, .media, .services, .partners, .contacts, .footer-2 {
        width: 66.8rem;
    }

    /* header */

    .textLogo {
        font-size: 2.5rem;
    }
    
    .navigation-2 {
        gap: 5rem;
    }
    
    .fa-solid {
        font-size: 2.5rem;
    }

    /* members */

    .imageMembersPerArea {
        width: 50rem;
    }

    .wrapMembersForTabletLaptop {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 6rem;
        flex-wrap: wrap;
    }

    .wrapMembers-2 {
        width: 28rem;
    }

    /* media */

    .imageMedia {
        width: 50rem;
    }
    
    .titleImageMedia {
        width: 50rem;
        margin: 0 auto;
    }

    /* services */

    .textServices {
        font-size: 2.4rem; 
    }

    /* partners */

    .logoPartners {
        width: 10rem;
    }

    /* contacts */

    .textContacts {
        font-size: 2.4rem;
    }
    
    .fa-square-whatsapp, .fa-square-envelope, .fa-square-instagram, .fa-square-facebook, .fa-square-youtube {
        font-size: 3.4rem;  
    }

    /* footer */

    .fa-arrow-up-from-bracket {
        font-size: 4rem;
    }  
}

/* laptop, 1024px */

@media (min-width: 1024px) {
    .header, .home, .about, .members, .media, .services, .partners, .contacts, .footer-2 {
        width: 98.4rem;
    }

    /* header */

    #hideFa-barsFa-share {   /* hide hamburger menu and share button. */
        display: none;
    }

    .wrapNavigation-2TabletLaptopMenu {
        display: flex;
        flex-direction: row-reverse;
        gap: 11rem;
    }

    .tabletLaptopMenu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }

    .tabletLaptopMenuItem {
        color: var(--white-color);
        font-size: 1.5rem;
        font-weight: bold;
        font-family: var(--orbitron);
    }

    .tabletLaptopMenuItem:hover {
        color: var(--yellow-color);
        text-decoration: underline;
        transition: all .3s;
    }

    .mobileMenuLanguageOpen {
        top: 6rem;
        right: -0.5rem;
        z-index: 1; /* Not to overlap the image. */
    }

    /* home */

    .home {
        display: flex;
        justify-content: left;
        align-items: center;

        position: relative;
    }

    .wrapHomeRightSide {
        display: flex;
        justify-content: center;
    }

    .wrapHomeLeftSide {
        width: 35rem;
    }

    .imageAllMembersTogether {
        position: absolute; /* Way to center image. */
        top: 7rem;
        right: -2rem;
        width: 58rem;
    }

    /* members */

    .imageMembersPerArea {
        width: 60rem;
    }

    /* partners */

    .logoPartners {
        width: 14rem;
    }

    /* contacts */

    .wrapAllTextContacts {
        display: flex;
        justify-content: center;
        align-items: baseline;
        gap: 15rem;
    }

    /* footer */

    .footer-1 .fa-whatsapp, .footer-1 .fa-envelope, .footer-1 .fa-instagram, .footer-1 .fa-youtube, .footer-1 .fa-facebook {
        font-size: 2rem;
    }

    .fa-arrow-up-from-bracket {
        font-size: 4rem;
    }    
}

@media (min-width: 1300px) {
    /* footer */
    
    .fa-arrow-up-from-bracket {
        font-size: 4rem;
        right: 15rem;
    }
}