:root {
    font-size: 62.5%;

    --blue-color: #1a3564;
    --yellow-color: #e2c42e;
    --white-color: #ffffff;

    --ubuntu: 'Ubuntu', sans-serif;
    --orbitron: 'Orbitron', sans-serif;
    --rock-salt: 'Rock Salt', cursive;
}

/* mobile m, 375px */

@media (min-width: 375px) {
    .header, .home, .about, .members, .media, .services, .partners, .contacts, .footer-2 {
        width: 33.5rem;
    }
}

/* mobile l, 425px */

@media (min-width: 425px) {
    .header, .home, .about, .members, .media, .services, .partners, .contacts, .footer-2 {
        width: 38.5rem;
    }

    /* members */

    .imageMembersPerArea {
        width: 35rem;
    }
    
    .imageEachMember {
        width: 12rem;
    }

    /* media */

    .imageMedia {
        width: 32rem;
    }
}

/* tablet, 768px */

@media (min-width: 768px) {
    .header, .home, .about, .members, .media, .services, .partners, .contacts, .footer-2 {
        width: 66.8rem;
    }

    /* members */

    .imageMembersPerArea {
        width: 45rem;
    }

    .wrapMembersForTabletLaptop {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 4rem;
        flex-wrap: wrap;
    }

    .wrapMembers-2 {
        width: 28rem;
    }
}